<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Webpage</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <div id="app">
            <main v-if="started">
                <header>
                    <h1 id="title">{{ title }}</h1>
                </header>
                <section>
                    <div id="enemyBoard">
                        <div v-for="enemy in currentEnemies"> 
                            <div class="enemy" >
                                <div v-if="enemy.alive" @click="attackEnemy(enemy)">
                                    <h2>{{ enemy.name }}</h2>
                                    <div  v-for="(stat, name) in enemy.stats">
                                        <p>{{name}}: {{stat}}</p>
                                    </div>
                                </div>
                                <div v-else >
                                    <h2>{{ enemy.name }}</h2>
                                    <p v-for="item in enemy.inventory" class="enemyItem" @click="lootItem(enemy, item)">{{item.name}}</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                <div id="character">
                    <section id="map">
                        <h2>Map</h2>
                        <pre v-if="mapDisplay">
                            {{ mapDisplay }}
                        </pre>
                    </section>
                    <section id="main">
                        <div>
                            <h2> {{character.name}} </h2>
                            <div v-for="(stat, name) in character.stats">
                                <p><span>{{ name }}: </span><span>{{ stat }}</span></p>
                            </div>
                        </div>
                        <div>
                            <h3>Equipment</h3>
                            <p v-for="(item, name) in character.equipment">{{name}}: {{item.name}}</p>
                        </div>
                    </section>
                    <section id="inv">
                        <h2>Inventory</h2>
                        <div class="invItem" v-for="(item) in character.inventory">
                            <p v-for="(itemProperty, name) of item" @click="useItem(item)">{{ name }}: {{itemProperty}}</p>
                        </div>
                    </section>
                </div>
                <section>
                    <div id="log">
                        <div v-for="message in log">
                            <p>{{ message }}</p>
                        </div>
                    </div>
                </section>
            </main>
            <div id="startScreen" v-else>
                <header>
                    <h1> {{ title }} </h1>
                    <button @click="startGame">Start Game</button>
                </header>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="assets/script.js"></script>
    </body>
</html>
