<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Webpage</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <div id="app">
            <main v-if="started">
                <header>
                    <h1 id="title">{{ title }}</h1>
                </header>
                <section>
                    <div id="enemyBoard">
                        <div v-for="enemy in currentEnemies"> 
                            <div class="enemy" >
                                <div v-if="enemy.alive && enemy.stats.Friendly != true" @click="attackEnemy(enemy)">
                                    <h2>{{ enemy.name }}</h2>
                                    <p v-if="enemy.stats.Health">Health: {{enemy.stats.Health}}</p>
                                    <p v-if="enemy.stats.Attack">Attack: {{enemy.stats.Attack}}</p>
                                    <p v-if="enemy.stats.Defense">Defense: {{enemy.stats.Defense}}</p>
                                    <div v-if="enemy.stats.Poison">
                                        <span>Poison: </span>
                                        <span>{{enemy.stats.Poison.damage}} poison damage for </span>
                                        <span>next {{enemy.stats.Poison.length}} turns</span>
                                    </div>
                                    <div v-if="enemy.stats.Fire">
                                        <span>Fire: </span>
                                        <span>{{enemy.stats.Fire}} fire damage on next attack</span>
                                    </div>
                                    </div>
                                    <div v-else >
                                        <h2>{{ enemy.name }}</h2>
                                        <p v-for="item in enemy.inventory" class="enemyItem" @click="lootItem(enemy, item)">{{item.name}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="character">
                    <section id="map">
                        <h2>Map</h2>
                        <pre v-if="mapDisplay">
                            {{ mapDisplay }}
                        </pre>
                    </section>
                    <section id="main">
                        <div>
                            <h2> {{character.name}} </h2>
                            <div>
                                <h3>Stats</h3>
                                <p v-if="character.stats.Health">Health: {{character.stats.Health}}</p>
                                <p v-if="character.stats.Attack">Attack: {{character.stats.Attack}}</p>
                                <p v-if="character.stats.Defense">Defense: {{character.stats.Defense}}</p>
                                <div v-if="character.stats.Poison.active">
                                    <span>Poison: </span>
                                    <span>{{character.stats.Poison.damage}} poison damage, </span>
                                    <span>next {{character.stats.Poison.length}} attack(s)</span>
                                </div>
                                <div v-if="character.stats.Fire || character.stats.equipFire">
                                    <span>Fire: </span>
                                    <span>{{character.stats.Fire + character.stats.equipFire}} fire damage on next attack</span>
                                </div>
                                <p v-if="character.stats.resist.poison">Resistant to poison damage</p>
                                <p v-if="character.stats.resist.fire">Resistant to fire damage</p>
                            </div>
                        </div>
                        <div>
                            <h3>Equipment</h3>
                            <p v-for="(item, name) in character.equipment">{{name}}: {{item.name}}</p>
                        </div>
                    </section>
                    <section id="inv">
                        <h2>Inventory</h2>
                        <div class="invItem" v-for="(item) in character.inventory">
                            <p v-for="(itemProperty, name) of item" @click="useItem(item)">{{ name }}: {{itemProperty}}</p>
                        </div>
                    </section>
                </div>
                <section>
                    <div id="log">
                        <div v-for="message in log">
                            <p>{{ message }}</p>
                        </div>
                    </div>
                </section>
            </main>
            <div id="startScreen" v-else>
                <header>
                    <h1> {{ title }} </h1>
                    <button @click="startGame">Start Game</button>
                </header>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="assets/script.js"></script>
    </body>
</html>
